// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #fff;
}

* {
	margin: 0;
	padding: 0;
	font-family:"Open Sans", Avenir, "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,"Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

header {
	width: 100%;
	height: 100px;
	background: image-url('administration_header_bg.jpg');
	background-size: cover;

	img {
		display: block;
		height: 45px;
		margin: 0 auto;
		padding-top: 27px;
	}
}

a {
	text-decoration: none;
}

img {
	display: block;
	margin: 200px auto 30px;
}

p {
	font-size: 25px;
	color: #484848;
	text-align: center;
}


div#mypage_header {
	width: 100%;

	h4 {
		line-height: 50px;
		font-size: 23px;
		border-bottom: solid 1px #d7d7d7;
		padding-left: 75px;
		padding-top: 10px;
		padding-bottom: 8px;
		background: image-url("card_icon.png");
		background-repeat: no-repeat;
		background-size: 40px 40px;
		background-position: 20px 14px;

	}
}

p#result {
	margin-top: 200px;
}

div#title {
	width: 100%;
	height: 40px;
	clear: both;
	margin: 10px auto 0;
	padding-bottom: 5px;
	
	h3 {
		padding-top: 10px;
		text-align: center;
		margin: 10px;
		font-size: 24px;
		color: #CC1F45;
	}
}

div#orders {
	width: 100%;
	margin-top: 20px;

	table {
		width: 100%;
		border-collapse: collapse;
		border-bottom: dashed 1px;
		
		tr#header {
			width: 728px;
			padding-left: 20px;
			padding-right: 20px;
		}

		th {
			text-align: left;
		}

		th#date {
			width: 30%;
			text-align: left;
			padding-left: 20px;
		}

		th#menu_name {
			width: 30%;
			text-align: left;
		}

		th#price {
			width: 25%;
		}

		th#status {
			width: 15%;
			padding-right: 20px;
		}

		tr {
			height: 80px;
			font-size: 18px;

			td {
				text-align: left;

				button {
					left: 0;
					width: 100%;
					height: 50px;
					border: none;
					display: block;
					margin: 0 auto;
					background: #C21628;
					border-radius: 3px;
					border-bottom: solid 2px #373737;
					color: #fff;
					font-size: 16px;
				}
			}

			td.date {
				padding-left: 20px;
				text-align: left;
			}

			td.menu_name {
				font-weight: bold;
				text-align: left;
			}

			td:nth-child(4) {
				padding-right: 20px;
			}
		}

		tr#header {
			background: #C3C3C3;
		}

		tr:nth-child(odd) {
			background: #F2F2F2;
		}
	}

	p.not_order {
		font-size: 22px;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
}

	p.sum_price {
		text-align: right;
		font-size: 23px;
		font-weight: bold;
		padding-top: 20px;
		padding-right: 80px;
		color: #373737;
	}

	button#submit {
		display: block;
		width: 30%;
		height: 60px;
		border: none;
		border-radius: 5px;
		border-bottom: solid 2px #373737;
		color: #fff;
		font-size: 20px;
		margin-right: 80px;
		margin-top: 40px;
		margin-bottom: 40px;
		float: right;
		background: #44C24C;
	}

	div#left_content, div#right_content {
		margin-top: 30px;

		h4 {
			width: 93%;
			font-size: 22px;
			color: #2E2E2E;
			margin: 0 auto;
			border-bottom: dashed 1px #373737;
		}
	}

	div#left_content {
		width: 60%;
		float: left;

		div {
			width: 93%;
			margin: 20px auto;

			div#header {
				width: 100%;
				height: 50px;
				border-radius: 5px 5px 0 0;
				background: #3C913E;
				color: #F7F7F7;
				margin-bottom: 0;
				border-bottom: solid 2px #707070;

				span {
					display: inline-block;
					line-height: 50px;
				}

				span.menu_name {
					width: 32%;
					padding-left: 20px;
				}

				span.price {
					width: 32%;
				}

				span.date {
					width: 32%;
				}
			}

			article {
				width: 100%;
				height: 50px;
				background: #F8F8F8;
				line-height: 50px;

				&:nth-child(odd) {
					background: #E6E6E6;
				}

				&:last-child {
					border-radius: 0 0 5px 5px;
					border-bottom: solid 2px #9A9A9A;
				}

				span {
					display: inline-block;
					width: 32%;
				}

				span.menu_name {
					padding-left: 20px;
				}

				button {
					width: 18%;
				}
			}

			div#sum {
				width: 100%;

				p {
					float: left;
					font-size: 25px;
					padding-left: 10px;
					height: 60px;
					line-height: 60px;

					span {
						padding: 8px;
					}

					span:first-child {
						border-right: solid 1px;
						padding-right: 15px;
					}
				}

				button {
					background: #2F9DCF;
					color: #fff;
					font-size: 20px;
					border: none;
					border-bottom: solid 2px #373737;
					border-radius: 5px;
					width: 250px;
					height: 60px;
					float: right;
					-webkit-transition: background .1s linear;
					   -moz-transition: background .1s linear;
					    -ms-transition: background .1s linear;
					     -o-transition: background .1s linear;
					        transition: background .1s linear;

					&:hover {
						background: #2288B5;
					}

					&:active {
						background: #21779F;
						border: none;
						margin-top: 2px;
					}
				}
			}
		}
	}

	div#right_content {
		width: 40%;
		float: right;

		div {
			margin: 20px auto 40px;
			width: 93%;
			border-radius: 5px;
			background: #E6E6E6;
			border-bottom: solid 2px #9A9A9A;

			h5 {
				padding-left: 18px;
				color: #F7F7F7;
				height: 50px;
				font-size: 18px;
				line-height: 53px;
				border-radius: 5px 5px 0 0;
				background: #3C913E;
				border-bottom: solid 2px #707070;
			}

			article {
				height: 50px;
				padding-left: 18px;
				line-height: 50px;

				&:nth-child(odd) {
					background: #D7D7D7;
				}

				span {
					font-weight: bold;
					float: right;
					padding-right: 18px;
				}
			}
		}
	}


//for iphone

@media screen and (max-device-width: 800px) {
	header {
		width: 100%;
		height: 70px;
		background: image-url('administration_header_bg.jpg');
		background-size: cover;

		img {
			display: block;
			height: 30px;
			margin: 0 auto;
			padding-top: 28px;
		}
	}

	h4 {
		color: #3D3D3D;
		padding: 8px;
		border-bottom: dashed 1px;
	}

	div {
		width: 95%;
		margin: 10px auto 15px;
	}

	div.field {

		label {
			width: 100%;
		}

		* {
			border: none;
		}

		input {
			border-radius: 3px;
			font-size: 22px;
			width: 100%;
			height: 40px;
			border: solid 1px #525252;
		}

		p {
			text-align: left;
			font-weight: bold;
			font-size: 15px;
		}

		label#image_upload {
			display: block;
			background: #207DAF;
			border-radius: 3px;
			width: 100%;
			height: 40px;
			border-bottom: solid 2px #373737;
			text-align: center;
			color: #fff;
			font-size: 17px;
			line-height: 40px;
		}

		input[type="file"] {
			display: none;

			input {
				background: #000;
			}
		}

		textarea {
			font-size: 20px;
			width: 100%;
			height: 80px;
			border: solid 1px #525252;
		}

		span {
			margin-right: 5px;
		}

		img {
			width: 100%;

		}
	}

	div.actions {
		margin-bottom: 30px;

		input#submit {
			-webkit-appearance: none;
			appearance: none;
			border: none;
			border-bottom: solid 2px #373737;
			background: #659E27;
			width: 100%;
			height: 50px;
			border-radius: 3px;
			margin: 0 auto;
			color: #fff;
			font-size: 20px;
		}
	}

	div#days {

		h5 {
			font-size: 16px;
			font-weight: 100;
		}

		div {
			width: 60px;
			display: inline-block;

			label {
				display: block;
				text-align: center;
			}

			input {
				display: block;
				margin: 0 auto;
				width: 30px;
			}
		}
	}

	button#create_menu {
		width: 95%;
		color: #fff;
		font-size: 20px;
		display: block;
		margin: 10px auto;
		height: 40px;
		background: #659E27;
		border: none;
		border-bottom: solid 2px #373737;
		border-radius: 2px;
	}

	article {
		width: 100%;
		height: 50px;
		font-size: 20px;
		line-height: 50px;

		span {
			padding-left: 10px;
		}

		&:nth-child(even) {
			background: #EDEDED;
		}

		button {
			background: #CE0614;
			color: #fff;
			border: none;
			border-bottom: solid 1px #fff;
			height: 50px;
			width: 100px;
			float: right;
		}
	}


}