@import "bootstrap-sprockets";
@import "bootstrap";

div#statistics {
	width: 100%;
	box-sizing: border-box;
	padding: 30px;

	h1 {
		font-size: 28px;
		color: #2B2B2B;
		border-bottom: dashed 1px;
	}

	h2 {
		margin: 30px 0 20px;
		text-align: center;
		width: 100%;
		font-size: 23px;
		color: #2B2B2B;
		z-index: 99;
		// border-bottom: dashed 1px;
	}

	div#all_order {
		width: 83%;
		height: 500px;
		margin: 0 auto;
		overflow: scroll;
		border: solid 2px #D9D9D9;
	}
}