<div id="menus">
	<% @menus.each do |menu| %>
  <div class="menu">
      <%= image_tag menu.imageurl%>
    <div class="caption">
      <div class="menu_top">
        <h3 class="name"><%= menu.name %></h3> 
        <p class="price"><%= menu.price %>yen</p>
      </div>
      <div class="menu_bottom">
				<%= link_to menus_path+'/'+menu.category+'/'+menu.id.to_s do %>
          <button class="read_more">詳しく見る</button>
        <% end %>
        <button class="reserve">トレーに<br>のせる</button>
      </div>
    </div>
  </div>
  <% end %>
</div>