<nav>
  <h4 class="2nd">カテゴリー から選ぶ</h4>
  <div class="categories">
    <% @uniq.each do |menu| %>
      <%= link_to menus_path+'/'+menu.category, :category => menu.category do %>
        <li><%= menu.category %></li>
      <% end %>
    <% end %>
  </div>
</nav>